@import "utils/variables.scss";
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include lg {
    flex-direction: column;
    @include col(12);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $unit-4;
  @include col(7);
  @include lg {
    padding: $unit-4;
    @include col(12);
  }
}

.thumbnail {
  box-sizing: content-box;
  max-width: 680px;
  max-height: 680px;
  @include col(6);
  width: 80%;
  height: auto;
}

.price {
  margin-block: $unit-4;
  font-size: 46px;
  font-weight: 400;
  &::before {
    content: "$";
    padding-right: $unit;
  }
}

.heading {
  cursor: default;
  display: flex;
  flex-direction: column;
  padding: $unit-4 $unit-4 $unit-4 0;
  @include col(3);
  align-items: flex-start;
  justify-content: flex-start;
  @include xl {
    @include col(5);
    padding: $unit-4;
    box-sizing: border-box;
  }
}

.title {
  width: 100%;
  margin-block: 0;
  font-weight: 400;
  font-size: 24px;
}

.condition {
  font-size: 14px;
  margin-block: 0 $unit-2;
  color: fade-out($color: $font, $amount: 0.2);
}

.cta {
  padding: $unit;
  background-color: $cta;
  outline: none;
  border: none;
  border-radius: $half-unit;
  color: #ffffff;
  width: 100%;
  align-self: flex-start;
  cursor: pointer;
  @include lg {
    width: 80%;
    align-self: center;
  }
}

.description {
  font-size: 16px;
  text-overflow: ellipsis;
  &Title {
    font-weight: 500;
    font-size: 28px;
    align-self: flex-start;
    text-align: start;
    @include lg {
      visibility: hidden;
    }
  }
}
