@import "utils/variables.scss";

.link {
  width: 100%;
  color: $font;
  padding: 16px;
  box-sizing: border-box;
  text-decoration: none;
  &:hover,
  &:visited {
    color: $font;
    outline: none;
  }
  @include md {
    box-sizing: content-box;
    max-height: 140px;
    padding: 0;
  }
}
.result {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  @include lg {
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: auto;
  }
}
.image {
  max-width: 180px;
  max-height: 180px;

  margin-left: auto;
  margin-right: auto;
  image-rendering: optimizeSpeed;
  &Container {
    min-width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $half-unit;
    @include col(2);
    margin-left: $unit-2;
    @include md {
      min-width: 140px;
      height: 140px;
    }
  }
  @include md {
    max-width: 140px;
    max-height: 140px;
  }
}
.description {
  font-weight: 400;
  padding-left: $unit-2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  @include col(10);
  @include md {
    padding-left: $unit;
  }
}
.price {
  height: 24px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  &::before {
    content: "$";
    padding-right: $unit;
  }
  @include col(6);
  flex-shrink: 0.3;
  @include md {
    margin: $unit 0;
  }
}
.freeShipping {
  margin-left: $unit;
  width: 24px;
  @include md {
    width: 18px;
    height: 18px;
  }
}
.title {
  font-size: 18px;
  font-weight: 400;
  margin-right: $unit;
  @include md {
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding-right: $half-unit;
  }
}
.location {
  text-align: start;
  font-size: 12px;
  font-weight: 400;
  color: fade-out($color: $font, $amount: 0.3);

  position: relative;
  margin: 16px;
  display: flex;
  justify-self: flex-end;
  @include col(2);
  @include lg {
    display: flex;
    position: relative;
  }
  @include md {
    order: 3;
    margin: $unit 0 $half-unit 0;
    @include col(10);
  }
}
